@import '@/assets/styles/variable.scss';
@import '@/assets/styles/mixin.scss';

.editable-element-audio {
  position: absolute;
}
.rotate-wrapper {
  width: 100%;
  height: 100%;
}
.element-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.audio-icon {
  cursor: move;
}
.audio-player {
  position: absolute;
}
