@import '@/assets/styles/variable.scss';
@import '@/assets/styles/mixin.scss';
.editableElementAudio {
  position: absolute;
}
.rotateWrapper {
  width: 100%;
  height: 100%;
}
.elementContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.audioIcon {
  cursor: move;
}
.audioPlayer {
  position: absolute;
}
