@import '@/assets/styles/variable.scss';
@import '@/assets/styles/mixin.scss';

.base-element-text {
  position: absolute;
}
.rotate-wrapper {
  width: 100%;
  height: 100%;
}
.element-content {
  position: relative;
  padding: 10px;
  line-height: 1.5;
  word-break: break-word;

  .text {
    position: relative;

    &.thumbnail {
      pointer-events: none;
    }
  }
}