@import '@/assets/styles/variable.scss';
@import '@/assets/styles/mixin.scss';

.editableElementText {
  position: absolute;
}
.rotateWrapper {
  width: 100%;
  height: 100%;
}
.elementContent {
  position: relative;
  padding: 10px;
  line-height: 1.5;
  word-break: break-word;
  cursor: move;

  .text {
    position: relative;
  }
}
.dragHandler {
  height: 10px;
  position: absolute;
  left: 0;
  right: 0;

  &.top {
    top: 0;
  }
  &.bottom {
    bottom: 0;
  }
}
