@import '@/assets/styles/variable.scss';
@import '@/assets/styles/mixin.scss';

.staticTable {
  position: relative;
  user-select: none;
}
table {
  width: 100%;
  position: relative;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
  word-wrap: break-word;
  user-select: none;

  --themeColor: #{$themeColor};
  --subThemeColor1: #{$themeColor};
  --subThemeColor2: #{$themeColor};

  &.theme {
    background-color: #fff;

    tr:nth-child(2n) .cell {
      background-color: var(--subThemeColor1);
    }
    tr:nth-child(2n + 1) .cell {
      background-color: var(--subThemeColor2);
    }

    &.rowHeader {
      tr:first-child .cell {
        background-color: var(--themeColor);
      }
    }
    &.rowFooter {
      tr:last-child .cell {
        background-color: var(--themeColor);
      }
    }
    &.colHeader {
      tr .cell:first-child {
        background-color: var(--themeColor);
      }
    }
    &.colFooter {
      tr .cell:last-child {
        background-color: var(--themeColor);
      }
    }
  }

  .cell {
    position: relative;
    white-space: normal;
    word-wrap: break-word;
    vertical-align: middle;
    background-clip: padding-box;
  }

  .cellText {
    padding: 5px;
    line-height: 1.5;
  }
}
