@import '@/assets/styles/variable.scss';
@import '@/assets/styles/mixin.scss';

.baseElementChart {
  position: absolute;

  &.isThumbnail {
    pointer-events: none;
  }
}
.rotateWrapper {
  width: 100%;
  height: 100%;
}
.elementContent {
  width: 100%;
  height: 100%;
}
