@import '@/assets/styles/variable.scss';
@import '@/assets/styles/mixin.scss';

.editable-element-chart {
  position: absolute;
}
.rotate-wrapper {
  width: 100%;
  height: 100%;
}
.element-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
  cursor: move;
}