@import '@/assets/styles/variable.scss';
@import '@/assets/styles/mixin.scss';

.grid-lines {
  width: 100%;
  height: 100%;
  overflow: visible;
  z-index: 999;
  pointer-events: none;

  @include absolute-0();
}
