.canvas-container {
  height: 100%;
  width: 100%;
  overflow: scroll;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  // 隐藏滚动条
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}

.canvas-viewport {
  position: relative;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
