@import '@/assets/styles/variable.scss';
@import '@/assets/styles/mixin.scss';

.mouse-selection {
  position: absolute;
  background-color: rgba($themeColor, 0.1);
  border: 1px solid $themeColor;
  z-index: 200;

  &.quadrant-1 {
    transform-origin: 50% 0;
    transform: rotate(180deg);
  }
  &.quadrant-2 {
    transform-origin: 0 0;
    transform: rotate(180deg);
  }
  &.quadrant-3 {
    transform-origin: 0 50%;
    transform: rotate(180deg);
  }
  &.quadrant-4 {
    transform-origin: 0 0;
    transform: rotate(0deg);
  }
}
