@import '@/assets/styles/variable.scss';
@import '@/assets/styles/mixin.scss';

.baseElementShape {
  position: absolute;
}
.rotateWrapper {
  width: 100%;
  height: 100%;
}
.elementContent {
  width: 100%;
  height: 100%;
  position: relative;

  svg {
    transform-origin: 0 0;
    overflow: visible;
    display: block;
  }
}
.shapeText {
  display: flex;
  flex-direction: column;
  padding: 10px;
  line-height: 1.2;
  word-break: break-word;
  @include absolute-0();
}

.top {
  justify-content: flex-start;
}
.middle {
  justify-content: center;
}
.bottom {
  justify-content: flex-end;
}
