.pptist-editor {
  height: 100%;
}

.layout-content {
  height: 100%;
  display: flex;

  .layout-content-left {
    width: 160px;
    height: 100%;
    flex-shrink: 0;
  }

  .layout-content-center {
    width: calc(100% - 160px);
    height: 100%;
  }
}
