@import '@/assets/styles/variable.scss';
@import '@/assets/styles/mixin.scss';

.base-element-latex {
  position: absolute;
}
.rotate-wrapper {
  width: 100%;
  height: 100%;
}
.element-content {
  width: 100%;
  height: 100%;
  position: relative;

  svg {
    transform-origin: 0 0;
    overflow: visible;
  }
}
