@import '@/assets/styles/variable.scss';
@import '@/assets/styles/mixin.scss';

.baseElementImage {
  position: absolute;
}
.rotateWrapper {
  width: 100%;
  height: 100%;
}
.elementContent {
  width: 100%;
  height: 100%;
  position: relative;

  .imageContent {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    
    img {
      position: absolute;
    }
    .colorMask {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      mix-blend-mode: color;
    }
  }
}
