@import '@/assets/styles/variable.scss';
@import '@/assets/styles/mixin.scss';

.imageClipHandler {
  width: 100%;
  height: 100%;
  position: relative;

  .bottomImg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .topImageContent {
    position: absolute;
    overflow: hidden;

    img {
      position: absolute;
    }
  }
}

.operate {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: move;
}

.clipPoint {
  position: absolute;
  width: 16px;
  height: 16px;

  svg {
    overflow: visible;
  }

  &.leftTop {
    left: 0;
    top: 0;
  }
  &.rightTop {
    left: 100%;
    top: 0;
    transform: rotate(90deg);
    transform-origin: 0 0;
  }
  &.leftBottom {
    left: 0;
    top: 100%;
    transform: rotate(-90deg);
    transform-origin: 0 0;
  }
  &.rightBottom {
    left: 100%;
    top: 100%;
    transform: rotate(180deg);
    transform-origin: 0 0;
  }
  &.top {
    left: 50%;
    top: 0;
    margin-left: -8px;
  }
  &.bottom {
    left: 50%;
    bottom: 0;
    margin-left: -8px;
    transform: rotate(180deg);
  }
  &.left {
    left: 0;
    top: 50%;
    margin-top: -8px;
    transform: rotate(-90deg);
  }
  &.right {
    right: 0;
    top: 50%;
    margin-top: -8px;
    transform: rotate(90deg);
  }

  &.leftTop.rotate0,
  &.rightBottom.rotate0,
  &.left.rotate45,
  &.right.rotate45,
  &.leftBottom.rotate90,
  &.rightTop.rotate90,
  &.top.rotate135,
  &.bottom.rotate135 {
    cursor: nwse-resize;
  }
  &.top.rotate0,
  &.bottom.rotate0,
  &.leftTop.rotate45,
  &.rightBottom.rotate45,
  &.left.rotate90,
  &.right.rotate90,
  &.leftBottom.rotate135,
  &.rightTop.rotate135 {
    cursor: ns-resize;
  }
  &.leftBottom.rotate0,
  &.rightTop.rotate0,
  &.top.rotate45,
  &.bottom.rotate45,
  &.leftTop.rotate90,
  &.rightBottom.rotate90,
  &.left.rotate135,
  &.right.rotate135 {
    cursor: nesw-resize;
  }
  &.left.rotate0,
  &.right.rotate0,
  &.leftBottom.rotate45,
  &.rightTop.rotate45,
  &.top.rotate90,
  &.bottom.rotate90,
  &.leftTop.rotate135,
  &.rightBottom.rotate135 {
    cursor: ew-resize;
  }
}
