@import '@/assets/styles/variable.scss';
@import '@/assets/styles/mixin.scss';

.editableElementLine {
  position: absolute;
  pointer-events: none;
}

.elementContent {
  width: 100%;
  height: 100%;
  position: relative;

  svg {
    transform-origin: 0 0;
    overflow: visible;
  }
}
.linePath, .linePoint {
  pointer-events: all;
  cursor: move;
}
