@import '@/assets/styles/variable.scss';
@import '@/assets/styles/mixin.scss';

.editable-element-shape {
  position: absolute;
  pointer-events: auto;
}

.element-content {
  width: 100%;
  height: 100%;
  position: relative;

  svg {
    transform-origin: 0 0;
    overflow: visible;
  }
}
.line-path, .line-point {
  pointer-events: auto;
  cursor: move;
}
