@import '@/assets/styles/variable.scss';
@import '@/assets/styles/mixin.scss';

.screenElementVideo {
  position: absolute;
}
.rotateWrapper {
  width: 100%;
  height: 100%;
}
.elementContent {
  width: 100%;
  height: 100%;
}
