@import '@/assets/styles/variable.scss';
@import '@/assets/styles/mixin.scss';

.screen-element-video {
  position: absolute;
}
.rotate-wrapper {
  width: 100%;
  height: 100%;
}
.element-content {
  width: 100%;
  height: 100%;
}
